* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
body li {
  list-style: none;
}
body li a {
  text-decoration: none;
}
body main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.containerLarge {
  max-width: 1300px;
  margin: 0 auto;
}

.headerTop {
  background-color: #0282F9;
}
.headerTop .navbarTop {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 1rem;
}
.headerTop .navbarTop a {
  color: #fff;
  margin-left: 1rem;
}

.headerBottom {
  background-color: #fff;
}
.headerBottom .navbarBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem;
}
.headerBottom .navbarBottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerBottom .navbarBottom ul li {
  padding: 0 1rem;
}
.headerBottom .navbarBottom ul li a {
  color: #000;
}

main {
  height: 100%;
}
main .hero {
  height: 400px;
  background-image: url("../images/bg-hero-home.jpg");
  background-size: cover;
}
main .comicsList {
  margin: 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
}
main .comicsList img {
  width: 100%;
}

.currentHero {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.currentHero img {
  width: 100%;
}
.currentHero .cover {
  position: absolute;
  bottom: 0;
  left: 20%;
}

footer {
  height: 400px;
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
  position: relative;
  padding: 1rem 0;
  overflow: hidden;
}
footer .links {
  display: flex;
  justify-content: space-between;
}
footer .links .wrapFooterLinks {
  width: 50%;
}
footer .links .wrapFooterLinks .footerLinks {
  display: flex;
  justify-content: flex-start;
}
footer .links .wrapFooterLinks .footerLinks h3 {
  color: #fff;
}
footer .links .footerLogo {
  width: 50%;
}
footer .links .footerLogo img {
  width: 100%;
  transform: translateY(-25%);
}
footer .contacts {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #303030;
}
footer .contacts .containerLarge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}