// FOOTER
footer {
    height: 500px;
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
    .links {
        display: flex;
        justify-content: space-between;
        .wrapFooterLinks {
            width: 50%;

            // FOOTERLINKS
            .footerLinks {
                display: flex;
                justify-content: flex-start;
                h3 {
                    color: $primary;
                }
                .col {
                    margin-right: 2rem;
                    margin-bottom: 1rem;
                    li {
                        padding: .3rem 0;
                        a {
                            color: rgba($primary , 0.5);
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
            p {
                color: rgba($primary , 0.5);
                a {
                    color: $tertiary;
                    text-decoration: none;
                }
            }
        }
        .footerLogo {
            width: 50%;
            img {
                width: 100%;
                transform: translateY(-25%);
            }
        }
    }

    // CONTACTS
    .contacts {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: $quaternary;
        .containerLarge {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;

            // SIGNUP
            .signup {
                border: 2px solid $tertiary;
                padding: 1rem;
                cursor: pointer;
                &:hover {
                    background-color: rgba($primary , 0.2);
                }
                h3 {
                    color: $primary;
                }
            }

            // FOLLOWUS
            .followus {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h4 {
                    color: $tertiary;
                    padding-right: 1rem;
                }
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        padding-left: 1rem;
                        a {
                            color: rgba($primary , 0.5);
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }
}