main {
    height: 100%;
    background-color: $secondary;
    // HERO
    .hero {
        height: 400px;
        background-image: url('../images/bg-hero-home.jpg');
        background-size: cover;
        .current {
            padding-top: 6.5rem;
        }
    }
    // COMICSLIST
    .comicsList {
        margin: 2rem 0 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(180px , 1fr));
        grid-gap: 1rem;
        img {
            width: 100%;
        }
        h4 {
            color: $primary;
            margin-top: 0.5rem;
        }
    }
}