.currentHero {
    height: 400px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
    }
    .cover {
        position: absolute;
        bottom: 0;
        left: 20%;
    }
}

.container {
    padding: 2rem 0;
    p {
        color: $primary;
        line-height: 2rem;
        font-size: 1.2rem;
        margin: 2rem 0;
    }
}